@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* > * {
  font-family: "Noto Serif Lao", serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
